<header>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="">
        <img
          src="../../../assets/images/Regi-Pro (3) 1.svg"
          height="120"
          alt="RegiPro Logo"
          loading="lazy"
        />
      </a>
    </div>
  </nav>

  <div class="row align-items-center justify-content-center">
    <div class="col-sm px-2">
      <img
        src="../../../assets/images/Design inspiration-pana 1.svg"
        height="200"
        class="img-fluid"
        width="520"
        alt="Landing-SVG"
        loading="lazy"
      />
    </div>
    <div class="col-sm justify-content-center">
      <div class="p-2">
        <h4 class="animated-heading heading">
          <span>Turn your vision into a </span>
          <span>Prospering reality</span>
        </h4>
      </div>
      <div class="px-3">
        <ul class="list-group list-unstyled px-2 pb-3">
          <li
            *ngFor="let item of items; let i = index"
            [class.completed]="i === currentIndex"
            [class.rippling]="i === currentIndex"
          >
            <i class="bi bi-check2-square"></i> {{ item }}
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-start gap-3 px-4">
        <button type="button" class="btn btn__primary" routerLink="/choose">
          Get Started <i class="bi bi-arrow-right"></i>
        </button>
        <button type="button" class="btn btn__secondary" routerLink="/about">
          Learn More <i class="bi bi-arrow-up-right"></i>
        </button>
      </div>
    </div>
  </div>
</header>
